<% posts.each_with_index do |(day, posts_from_day), index| %>
  <div class="notification is-dark">
    <i class="far fa-calendar-alt"></i>
    <%= DateTime.parse(day).strftime('%d %B %Y')  %>
  </div>
  <% posts_from_day.each do |post| %>
    <article class="message">
      <div class="message-body">
        <%= link_to post.title, post_path(slug: post.slug), class: 'is-size-5'%>
        &nbsp;
        <a href="<%= add_utm_source(post.url) %>">
          <i class="fas fa-external-link-alt"></i>
        </a>
        <%= markdown_to_html(post.description).html_safe %>
      </div>
    </article>
  <% end %>
  <% if index === 1 %>
    <article class="message is-dark is-medium">
      <div class="message-body">
        <strong>Enjoying DiscoverBSD? There is more...</strong><br/><br/>
        Subscribe to <a href="https://bsdweekly.com">BSD Weekly</a>, our free, once–weekly e-mail round-up of BSD news and articles.
        It is currated from your content on DiscoverBSD and <a href="https://bsdsec.net">BSDSec</a> (a deadsimple BSD Security Advisories and Announcements).
        <br/><br/>
        You can also support the work on <a href="https://patreon.com/hovancik">Patreon</a>.
      </div>
    </article>
  <% end %>
<% end %>
<% if load_posts_from %>
  <div class="has-text-centered" data-controller="more-posts-loader"
     data-more-posts-loader-url="<%= by_day_posts_path(from: load_posts_from) %>">
    <a class="button is-outlined" data-action="more-posts-loader#load">load more</a>
  </div>
<% else %>
  <div class="has-text-centered has-text-grey">
    <i class="far fa-grin-stars fa-4x"></i> <br/>
    Yay, you are at the end!
  </div>
<% end %>
