<div class="container">
  <% if logged_in? %>
    <div>
      <h1 class="title is-4">Submit new post</h1>
      <%= form_for @post, data: {controller: "submit", target: "submit.form"} do |f| %>
        <%= f.hidden_field :author_id, value: current_user.id %>
        <div class="field">
          <label class="label">Title</label>
          <div class="control">
            <%= f.text_field :title, class: 'input', placeholder: "ie. How to make your BSD awesome" %>
          </div>
        </div>

        <div class="field">
          <label class="label">Url</label>
          <div class="control">
            <%= f.text_field :url, class: 'input', placeholder: "ie. https://example.com/make-your-bsd-awesome" %>
          </div>
        </div>

        <div class="field">
          <label class="label">Description</label>
          <div class="control">
            <%= f.text_area :description, class: 'textarea', placeholder: "ie. In this article, Mr. Awesome talks about how to make any BSD shine like a sun. Learn the tips to create awesome scripts and securing your **grandma**'s BSD. \r\n\r\nUsage of basic markdown is allowed." %>
          </div>
        </div>

        <div class="field is-grouped is-grouped-right">
          <div class="control">
            <%= f.submit "Submit", class:"button is-dark", data: {action: "click->submit#submit", target: "submit.button"} %>
          </div>
        </div>

        <div>
          <p class="help" data-target="submit.error"></p>
        </div>
      <% end %>
    </div>
  <% else %>
    <article class="message is-dark is-medium">
      <div class="message-body">
        <p>
          As you are not logged in, you will be redirected via Twitter or Github to signup or sign in.
          You will be able to add your post then.
        </p>
        <div data-controller="terms">
          <div class="buttons is-centered">
            <form class="has-text-centered">
              <button formaction="/auth/twitter" class="button is-dark" data-target="terms.auth">Authenticate with Twitter</button>
            </form>
            <form class="has-text-centered">
              <button formaction="/auth/github" class="button is-dark" data-target="terms.auth">Authenticate with Github</button>
            </form>
          </div>
          <p>
            <label class="checkbox is-size-6 has-text-right">
              <input type="checkbox" data-target="terms.checkbox" data-action="terms#setDisabled">
              I agree to the <a href="https://github.com/DiscoverBSD/DiscoverBSD/blob/master/TERMS.md" target="_blank">Terms and Conditions</a> and <a href="https://github.com/DiscoverBSD/DiscoverBSD/blob/master/PRIVACY.md" target="_blank">Privacy Policy</a>.
            </label>
          </p>
        </div>
      </div>
    </article>
  <% end %>
</div>
