<div class="section">
  <div class="container">
    <div class="message">
      <div class="message-body">
        The newest article from: <%= @newest %>. The oldest from: <%= @oldest %>.
        <a href="<%= root_path %>" class="button is-dark is-pulled-right">Back to web</a>
      </div>
    </div>
  </div>
  <div class="container content" >
    <% if @posts['main'].present? %>
      <% @posts['main'].each do |post|%>
        <h2>## [<%= post.title %>](<%= bsdweekly_utm_source_url(post.url) %>)</h2>
        <p>
          <%= post.description %>
        </p>
      <% end %>
    <% end %>
    <h2>## Releases</h2>
    <% if @posts['releases'].present? %>
      <% @posts['releases'].each do |post|%>
        <p>
          [<%= post.title %>](<%= bsdweekly_utm_source_url(post.url) %>): <%= post.description %>
        </p>
      <% end %>
    <% else %>
      <p>
        No releases.
      </p>
    <% end %>
    <h2>## BSDSec</h2>
    <% if @posts['bsdsec'].present? %>
      <% @posts['bsdsec'].each do |post|%>
        <p>
          [<%= post.title %>](<%= bsdweekly_utm_source_url(post.url) %>): <%= post.description %>
        </p>
      <% end %>
    <% else %>
    <p>
      No security announcements.
    </p>
    <% end %>
    <p>As always, it's worth following [BSDSec](https://bsdsec.net). [RSS feed](https://bsdsec.net/articles.atom) and [Twitter account](https://twitter.com/bsdsec) available.</p>
    <% if @posts['news'].present? %>
      <h2>## News</h2>
      <% @posts['news'].each do |post|%>
        <p>
          [<%= post.title %>](<%= bsdweekly_utm_source_url(post.url) %>): <%= post.description %>
        </p>
      <% end %>
    <% end %>
    <% if @posts['tutorials'].present? %>
      <h2>## Tutorials</h2>
      <% @posts['tutorials'].each do |post|%>
        <p>
          [<%= post.title %>](<%= bsdweekly_utm_source_url(post.url) %>): <%= post.description %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
