<!DOCTYPE html>
<html>
  <head>
    <%= render partial: "shared/social_meta", locals: { post: @post } %>
    <meta charset="utf-8">
    <meta name="flattr:id" content="en32oj">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <%= stylesheet_pack_tag 'application' %>

    <%= auto_discovery_link_tag(:atom, feeds_posts_default_url, title: 'DiscoverBSD Atom feed') %>
    <!-- Matomo -->
    <script type="text/javascript">
      var _paq = _paq || [];
      /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
      _paq.push(['trackPageView']);
      _paq.push(['enableLinkTracking']);
      (function() {
        var u="//stats.hovancik.net/";
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['setSiteId', '2']);
        var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
        g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Matomo Code -->
  </head>

  <body>
    <div data-controller="submit-content-loader"
     data-submit-content-loader-url="<%= new_post_path %>">
      <nav class="navbar is-black">
        <div class="container">
          <div class="navbar-brand">
            <a href="<%= root_path %>" class="navbar-item">
              <span class="icon">
                <i class="fas fa-hashtag"></i>
              </span>
              Discover<span class="has-text-weight-bold">BSD</span>
            </a>
            <span class="navbar-burger burger" data-target="navbarMenu"  onclick="document.querySelector('.navbar-menu').classList.toggle('is-active');">
              <span></span>
              <span></span>
              <span></span>
            </span>
          </div>
          <div id="navbarMenu" class="navbar-menu">
            <div class="navbar-end">
              <a class="navbar-item" data-action="submit-content-loader#load">
                <span class="icon">
                  <i class="fas fa-plus-square"></i>
                </span>
                <span>Submit</span>
              </a>
              <a href="https://bsd.network/@discoverbsd" class="navbar-item">
                <span class="icon">
                  <i class="fab fa-mastodon"></i>
                </span>
                <span>Mastodon</span>
              </a>
              <a href="https://twitter.com/_DiscoverBSD" class="navbar-item">
                <span class="icon">
                  <i class="fab fa-twitter-square"></i>
                </span>
                <span>Twitter</span>
              </a>
              <a href="<%= feeds_posts_default_url %>" class="navbar-item">
                <span class="icon">
                  <i class="fas fa-rss-square"></i>
                </span>
                <span>Feed</span>
              </a>
              <% if admin? %>
                <a href=<%= admin_dashboard_show_path %> class="navbar-item is-inverted">
                  <span class="icon">
                    <i class="fas fa-unlock-alt"></i>
                  </span>
                  <span>Admin area (<%= @waiting %>)</span>
                </a>
              <% end %>
              <% if logged_in? %>
                <a href=<%= session_path(1) %> data-method="delete" class="navbar-item is-inverted">
                  <span class="icon">
                    <i class="fas fa-sign-out-alt"></i>
                  </span>
                  <span>Logout</span>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </nav>
      <% if @post.present? %>
        <section class="section has-no-bottom-padding">
          <div class="container">
            <h1 class="title is-3"><%= @post.title %></h1>
            <p class="subtitle is-5 has-text-gray">
              submited <%= @post.created_at.strftime('%d %B %Y') %>
              <a href="<%= @post.url + "?utm_source=discoverbsd" %>">
                <span class="icon"><i class="fas fa-external-link-alt"></i></span>
              </a>
            </p>
            <div class="content is-size-5">
              <%= markdown_to_html(@post.description).html_safe %>
            </div>
          </div>
        </section>
      <% end %>
      <section class="section" data-target="submit-content-loader.container">
        <div class="container">
          <article class="message is-dark is-medium">
            <div class="message-body">
              <strong>The BSD community linklog</strong><br/>
              Made a script? Written a blog post? Found a useful tutorial?
              Share it with the BSD community here or just enjoy what everyone else has found!
              <p class="has-text-centered">
                <a class="button is-dark" data-action="submit-content-loader#load">
                  <span class="icon">
                    <i class="fas fa-plus-square"></i>
                  </span>
                  <span>Submit</span>
                </a>
              </p>
            </div>
          </article>
        </div>
      </section>
    </div>
    <%= yield %>
    <footer class="footer has-background-white">
      <div class="content has-text-centered">
        <p>
          Discover<span class="has-text-weight-bold">BSD</span> is created with <i class="fas fa-heart"></i> by <a href="https://hovancik.net">Jan Hovancik</a>.
          The source code is availabe on <a href="https://github.com/DiscoverBSD/DiscoverBSD">Github</a>.
        </p>
        <p>
          Read our <a href="https://github.com/DiscoverBSD/DiscoverBSD/blob/master/TERMS.md" target="_blank">Terms and Conditions</a> and <a href="https://github.com/DiscoverBSD/DiscoverBSD/blob/master/PRIVACY.md" target="_blank">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </body>
</html>
